/* Main stylesheet - imports all domain-specific styles */

/* Import variables first - must be loaded before other styles */
@import url('./css/variables.css');

/* Import domain-specific styles */
@import url('./css/base.css');
@import url('./css/crosshair.css');
@import url('./css/health-bar.css');
@import url('./css/toolbar.css');
@import url('./css/info.css');
